.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($color: $black, $alpha: .45 );

    border-radius: .5rem;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}

.add-post__form {
    display: flex;
    align-items: flex-end;
    
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 3.4rem;
    overflow: hidden;

    border: none;
    background: transparent;
    resize: none;

    font-family: inherit;
    font-size: 1.5rem;
    color: $white;

    &::placeholder {
        color: #D2D2D2;
    }
}

.add-post__form-actions {

    width: 12rem;
    flex-shrink: 0;

    display: flex;
    justify-content: flex-end;

    gap: 1.5rem;

       
    @include breakpoint ($mobile-bp) {
        width: 9rem;
    }
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: 50%;
    transition: background-color .2s ease-in-out;
   
    @include breakpoint ($mobile-bp) {
        width: 3.4rem;
        height: 3.4rem;
    }
}

.add-post__file {
    background: #ebebeb url("../images/add-photo.svg") center no-repeat;
    cursor: pointer;


    input {
        display: none;
    }

    &:hover {
        background-color: darken(#ebebeb, 5% );
    }

    @include breakpoint ($mobile-bp) {
        background-size: 1.8rem;
    }
}

.add-post__send {
    font-size: 0;
    color: transparent;

    background: $blue url("/assets/images/send\ 1.svg") center no-repeat;
    cursor: pointer;

    &:hover {
        background-color: darken($blue, 5% );
    }

    @include breakpoint ($mobile-bp) {
        background-size: 1.5rem;
    }
}