.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 1.5em; 

    background: $secondary;
    border: none;
    border-radius: 3em;
    text-decoration: none;
    cursor: pointer;


    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;

    color: $white;
    transition: background-color .2s linear;

    &:hover {
        text-decoration: none;
    }

    &--red {
        background-color: $red;
        box-shadow:  0 7px 17px -10px rgba($color: $red, $alpha: .3);

        &:hover,
        &:focus {
            background-color: darken($color: $red, $amount: 10%);
        }
    }
    &--blue {
        background-color: $blue;
        box-shadow:  0 7px 17px -10px rgba($color: $blue, $alpha: .3);

        &:hover,
        &:focus {
            background-color: darken($color: $blue, $amount: 5%);
        }
    }
    
    &--rounded {
        border-radius: .41em;
    }

    &--sm {
        padding: .7em 1.25em;
    }
}