.form__group {
    margin-bottom: 1.5rem;
    position: relative;

    &--md {
        margin-bottom: 2.5rem;
    }
}

.form__control {
    display: block;
    width: 100%;
    padding: .5rem 0 .75rem;

    background: none;
    border: none;
    border-bottom: 1px solid #3F3F3F;
    border-radius: 0;
    box-shadow: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: $white;

    &::placeholder {
        color: rgba($color: $white, $alpha: .2);
    }

    &:focus + .form__line {
        width: 100%;
    }

    &--textarea {
        height: 3rem;
        overflow: hidden;
        resize: none;
    }
}

.form__line {
    width: 0;
    height: 1px;

    background-color: $blue;
    transition: width .2s linear;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}