.nav__list {
    display: flex;

}
.nav__item {

    position: relative;

    &:hover {
        .nav__link {
            background-color: $blue;
            text-decoration: none;
        }
        .subnav {
            display: block;

        }
    }
}

.nav__link {
    padding: 1.35rem;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1.2;
    color: $white;
    transition: background-color .2s linear;
    
   
    &--has-subnav {
        position: relative;
        
        padding-right: 3.5rem;
        &::after {
            content: "";
            display: block;
            margin-top: 0.2rem;

            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;

            position: absolute;
            top: 50%;
            right: 1.35rem;
            transform: translateY(-50%);
        }
    }
}