.post {
    background-color: $primary;
    box-shadow: 0 15px 25px rgba($color: $black, $alpha: .35);
    margin-bottom: 3rem;
    padding: 2.5rem;
    border-radius: 5px;
    overflow: hidden;
}
.post__header {
    margin: 0 0 2.5rem;
    
    &--preview {
        margin: -2.5rem -2.5rem 2.5rem;
    }

}

.post__preview {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: $white;
    
    margin-bottom: 1.5rem;


    a {
        color: inherit;
    }

    &--mb0 {
        margin-bottom: 0;
    }
}

.post__description {
    font-size: 1.4rem;
    color: #d2d2d2;
}

.post__text {

    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: $white;

    border-bottom: 1px solid #1C1C1C;

    h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 2rem;
    }

    a {
        color: $blue;
    }

    h2 {
        font-size: 1.35em;
    }

    h3 {
        font-size: 1.15em;
    }

    h4, h5, h6 {
        font-size: 1em;
    }

    ul, ol {
        margin-bottom: 2rem;
    }

    ol {
        list-style: decimal;
        list-style-position: inside;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    p {
        margin-bottom: 2rem;
    }
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__data {
    display: flex;
    color: #828282;
    line-height: 1.2;
    font-size: 1.2rem;

    a {
        color: inherit;
      
    }
}

.post__data-item {


    &:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        position: relative;
        top: -1px;
        border-radius: 50%;
        background-color: #C4C4C4;
    }
}

.post__read {
    color: #107EFF;
    font-size: 1.4rem;
}

.post__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    font-size: 1.2rem;
    color: $white;

    a {
        color: inherit;

        opacity: .6;
        transition: opacity .2s linear;

        &:hover {
            opacity: 1;
        }
    }
}

.post__actions-icon {
    margin-left: 0.5rem;
}