.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.3rem;
    grid-template-rows: 19.5rem;
    margin-bottom: 3rem;

    @include breakpoint($mobile-bp) {
        grid-template-columns: 14rem 14rem 14rem 14rem;

        overflow: auto;
    }
}

.stories__item {
    border-radius: .7rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    box-shadow: 0 5px 15px rgba($color: $black, $alpha: .2);

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        background-image: linear-gradient(to bottom,
        rgba($black, 0.8),
        rgba($black, 0)50%, 
        rgba($black, 0.8)
        );

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &:hover {
        .stories__preview {
            transform: scale(1.3);
            transition-duration: 5s;
        }
    }
}

.stories__preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: scale(1.05);
    transition: transform 1s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.stories__title,
.stories__date {
    width: 100%;
    padding: 1.4rem;

    font-size: 1.2rem;
    line-height: 1.2;
    color: $white;

    position: absolute;
    left: 0;
    z-index: 3;
}

.stories__title {
    top: 0;
    
}
.stories__date {
    bottom: 0;
    text-align: right;
}