<div class="modal">
    <!-- modal__content -->
    <div class="modal__content">

        <button class="modal__close" type="button">
            <img src="/assets/images/close.svg" alt=" закрыть">
        </button>

        <ul class="social">
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="/assets/images/share/facebook.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="/assets/images/share/twitter1.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="/assets/images/share/vk.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="/assets/images/share/copy.svg" alt="">
                </a>
            </li>
   

    </div><!-- modal__content -->
</div><!-- modal -->